<div class="box-header">
  <i class="fa fa-sitemap"></i>
  <h3 class="box-title">Histórico de Cargos en el Colegio</h3>
  <div class="box-tools pull-right">
    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
  </div>
</div>
<div class="box-body">
  <div class="row">
    <%= f.fields_for :cargo_colegiados do |cargo_colegiado| %>
      <div class="col-md-11">
        <div class="form-group">
          <%= render 'colegiados/cargo_colegiado_fields', f: cargo_colegiado %>
        </div>
      </div>
    <% end %>
  </div>
</div>
