<div class="box-header">
  <i class="fa fa-refresh"></i>
  <h3 class="box-title">Histórico del Colegiado</h3>
  <div class="box-tools pull-right">
    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
  </div>
</div>
<div class="box-body">
  <div class="row">
    <%= f.fields_for :movimiento_colegiados do |movimiento_colegiado| %>
      <div class="col-md-11">
        <div class="form-group">
          <%= render 'colegiados/movimiento_colegiado_fields', f: movimiento_colegiado %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="box-footer">
  <div class="row">
    <div class="col-md-11">
      <div class="form-group">
        <%= link_to_add_association "Añadir movimiento", f, :movimiento_colegiados, class: "btn btn-sm btn-info" %>
      </div>
    </div>
  </div>
</div>
