<table width='100%'>
  <tr>
    <td width='20%'><%= image_tag "#{Rails.root}/public/images/logos/logo_cgs.jpg", class: 'img-circle', size: '100x100' %></td>
    <td width='80%'><%= colegio.nombre.upcase %></td>
  </tr>
</table>
