<p>Estimado compañera/o:</p>
<br>
<p>Por orden del Sr. Presidente, y en virtud de los Artículos 33 y 38 de los vigentes Estatutos de los Colegios Oficiales de Graduados Sociales, se le convoca a la reunión de <strong>Junta de Gobierno</strong> de este Colegio Oficial, que tendrá lugar el próximo <u><%= l((DateTime.now + 14.days).to_date, format:'%d de %B de %Y') %></u> a las 19:00 horas en primera convocatoria y a las 19:30 en segunda convocatoria, en la Sede del Colegio Oficial, sita en C/ Cervantes 28 - 1º F de la ciudad de Oviedo con arreglo al siguiente</p>
<br><br>
<p align="center"><strong><u>ORDEN DEL DIA</u></strong></p>
<ul>
  <li>Lectura y aprobación, en su caso, del acta de la Junta anterior</li>
  <li>Informe del Sr. Presidente</li>
  <li>Informe del Sr. Secretario</li>
  <li>Informe del Sr. Tesorero</li>
  <li>Informe de Comisiones</li>
  <li>Proposiciones, Ruegos y Preguntas</li>
</ul>
<br><br><br>
Oviedo, a <%= l(DateTime.now.to_date, format:'%d de %B de %Y') %>
<br>
