<h1>Recibo <%= parametros['codigo_recibo'] %></h1>
<br><br>
<p>En Oviedo, a <%= l(DateTime.now.to_date, format:'%d de %B de %Y') %></p>
<br><br>
<table class='cuadro'>
  <thead>
    <tr class='cuadro'>
      <th width="75%" class='izquierda'>Concepto</th>
      <th class='derecha'>Importe</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= parametros['concepto'] %></td>
      <td class='derecha'><%= parametros['importe'] %>€</td>
    </tr>
  </tbody>
</table>
<br>
