<section class="content-header">
  <h1>
    Configuración del Colegio
    <small>Gestión general de datos</small>
  </h1>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-body">
      <%= render 'colegios/form_colegio' %>
    </div>
  </div>
</section>
