<!DOCTYPE html>
<html>
<head>
  <title>Colegio de Graduados Sociales de Asturias</title>
  <meta charset="utf-8">
  <style>
    <%= Rails.application.assets.find_asset('pdf.css').to_s %>
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
