<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <%= Date.today.year %>
  </div>
  <strong>
    Colegio de Graduados Sociales de Asturias
  </strong>
  <div class="clearfix"></div>
</footer>
